<h1>todo works!</h1>
<!-- <mat-card>
    <mat-card-header>
        <mat-card-title></mat-card-title>
    </mat-card-header>
    <mat-card-content></mat-card-content>
</mat-card> -->

<mat-card>
    <mat-card-header>
        <mat-card-title>Search</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #s="ngForm" class="mat-elevation-z8" style="width: 100%; padding: 5px;">
            <!-- #f="ngForm" -->
            <mat-form-field>
                <input matInput name="search" [(ngModel)]="search_ngModel" placeholder="Search...">
                <!-- name="title" [(ngModel)]="todo.title" required -->
            </mat-form-field>
            <button mat-raised-button (click)="search(s)" color="primary">Search</button>
        </form>
        <!-- *ngIf="!todo.id" -->
    </mat-card-content>
</mat-card>

<!-- Table -->
<mat-card>
    <mat-card-header>
        <mat-card-title>Todos</mat-card-title>
    </mat-card-header>
    <mat-card-content>

        <table mat-table [dataSource]="data_displayed" class="mat-elevation-z8" style="width: 100%;">
            <!-- Columns -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <!-- Columns -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <button mat-raised-button (click)="goTo(element.id)" color="secondary">More Detail</button> -->
                    <button mat-raised-button (click)="$event.stopPropagation();deleteTodo(element.id)" color="secondary">Delete Todo</button>
                    <!-- <button mat-raised-button (click)="$event.stopPropagation();changeToDone(element.id)" color="secondary">Done</button> -->
                    <button mat-raised-button (click)="$event.stopPropagation();changeToDone(element)" color="secondary">Done</button>
                    <!-- *ngIf="todo.id" -->
                </td>
                <!-- (click)="deleteTodo(element.id)" -->
                <!-- (click)="selectTodo(element)" -->
            </ng-container>

            <!-- <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef> Phone </th>
                <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef> Address </th>
                <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>
            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> City </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button (click)="deleteTodo(element.id)" color="secondary">Delete Todo</button>
                    <button mat-raised-button (click)="selectTodo(element)" color="secondary">Select Todo</button>

                </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="goTo(row.id)"></tr>
        </table>
        
        <mat-paginator 
        [length]="this.length_of_todos"
        [pageSize]="3" 
        [pageSizeOptions]="[3, 4, 5]"
        (page)= "OnPageChange($event)">
        </mat-paginator>

    </mat-card-content>
</mat-card>


<!-- Form -->
<mat-card>
    <mat-card-header>
        <mat-card-title>Create a Todo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #f="ngForm" class="mat-elevation-z8" style="width: 100%; padding: 5px;">

            <mat-form-field>
                <input matInput placeholder="Title" name="title" [(ngModel)]="todo.title" required>
            </mat-form-field>
            
            <mat-form-field color="accent" appearance="fill">
                <mat-label>Task Deadline</mat-label>
                <input matInput name="date_dn" [(ngModel)]="todo.date_dn" [matDatepicker]="picker2">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>

            <!-- <mat-form-field>
                <input matInput placeholder="Name" name="name" [(ngModel)]="todo.name" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" name="email" [(ngModel)]="todo.email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone" name="phone" [(ngModel)]="todo.phone" required>
            </mat-form-field>
            <mat-form-field>
                <textarea placeholder="Address" name="address" [(ngModel)]="todo.address" matInput></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" name="city" [(ngModel)]="todo.city" required>
            </mat-form-field> -->

        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button *ngIf="!todo.id" (click)="createTodo(f)" color="primary">Save Todo</button>
        <!-- <button mat-raised-button *ngIf="todo.id" (click)="updateTodo(f)" color="primary">Update Todo</button> -->
        <!-- <button mat-raised-button (click)="newTodo()" color="primary">New..</button> -->
    </mat-card-actions>
</mat-card>


